<?xml version="1.0" encoding="utf-8"?>
<SystemConfig>
  <EnglishLanguage>false</EnglishLanguage>
  <TargetMCU>
    <Index>3</Index>
  </TargetMCU>
  <CrystalIndex>3</CrystalIndex>
  <HexFile>C:\Users\19021\Desktop\template\MDK\output\release\template.hex</HexFile>
  <Com>COM49</Com>
  <AutoNumber>
    <AutoNumberSelected>false</AutoNumberSelected>
    <AotuNumberStartAddr></AotuNumberStartAddr>
    <Length></Length>
    <StartNum></StartNum>
    <Interval></Interval>
    <CurrentNum></CurrentNum>
    <HistoryNum></HistoryNum>
  </AutoNumber>
  <ChipErase>true</ChipErase>
  <FullDuplex>true</FullDuplex>
  <Erase>true</Erase>
  <BlankCheck>true</BlankCheck>
  <Program>true</Program>
  <Verify>true</Verify>
  <Encrypt>false</Encrypt>
  <Encrypt2>false</Encrypt2>
  <Disorder></Disorder>
</SystemConfig>